<!DOCTYPE html>
<html>
<head>
	<title>Meetup shuffling</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<header>
	<div class="wrap clearfix">
		<h1>Meetup shuffling</h1>
	</div>
</header>
<main>
	<canvas id="word-slider"></canvas>
	<div class="button-area">
		<button id="stop-slider">stop ?</button>
	</div>
</main>
<script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>
