<!DOCTYPE html>
<html>
<head>
	<title>LX Scala Free Ticket</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<header>
	<div class="wrap clearfix">
		<h1>LX Scala Free Ticket</h1>
	</div>
</header>
<main>
	<canvas id="word-slider"></canvas>
	<div class="button-area">
		<button id="stop-slider">stop ?</button>
	</div>
	<div class="detail-container">
		<div class="wrap">
			<div class="text-container">
				CONGRATULATIONS<br />
				<a href="#" target="_blank" id="name-container"></a><br/>
				<span>You've won a free ticket for LX Scala 2017!</span>
			</div>
		</div>
		<div class="button-container">
			<button id="detail-button">ONE MORE?</button>
		</div>
	</div>
</main>
<script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>
